.added-to-cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.add-to-cart{
    display: flex;
    flex-direction: row;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.add-cart-heading{
    font-size: 28px;
    font-weight: 500;
}
.add-cart-title{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.add-cart-description{
    font-size: 18px;
}
.cart-button{
    background-color: #fffb00;
    border: none;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    padding: 7px 14px;
}