.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}
.cart-items{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.description{
    width: 76%;
}
.image{
    width: 200px;
    height: 200px;
}
.divider{
    width: 100%;
}
.button-containerr {
    display: flex;
    border: 1px solid #28a745;
    border-radius: 6px;
    padding: 5px 8px;
    width: 220px;
}
.button-container:hover {
    border-color: #218838;
}
.button-symbol {
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.count {
    font-size: 18px;
    margin: 0 10px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.delete-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #d32f2f;
    padding: 5px 8px;
    margin-left: 8px;
}

.delete-btn:hover {
    color: #b71c1c;
    transform: scale(1.1);
}