.main-container{
    display: flex;
    flex-direction: row;
    padding: 13px;
}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content:  center;
}

.heading{
    font-size: 33px;
    font-weight: bold;
    font-family: Algerian, serif;
    text-align: center;
}
.button-container:focus{
    outline: none;
}
.description {
    color: black;
    font-family: "Bell MT", serif;
    font-weight: 500;
    width: 100%;
    font-size: 27px;
}
.shop-now-button {
    padding: 10px 16px;
    width: 150px;
    background-color: #0055ff;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.shop-now-button:focus {
    outline: none;
}

.shop-now-button:focus-visible {
    outline: 2px solid #0055ff;
    outline-offset: 2px;
}

